{% extends "network/layout.html" %}

{% block body %}
<div class="container mt-4">
<div class="posts-section mt-4">
    <h3 class="text-secondary">Posts</h3>
    {% if posts %}
        {% for post in posts %}
            <div id="new-post" class="post bg-white p-3 mb-3 rounded shadow-sm">
                <h5 class="text-dark"><a href='{% url 'profile' username=post.user %}'>{{ post.user }}</a></h5>
                <p class="mb-2">{{ post.content }}</p>
                <small class="text-muted">Created at {{ post.timestap|date:"F j, Y, g:i a" }}</small>
                <div class="mt-2">
                    <button class="i-btn">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    <span>0 Likes</span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-muted">No posts available.</p>
    {% endif %}
</div>
</div>

{% endblock %}