{%extends 'network/layout.html' %}

{% block body %}
<div class="container mt-4 pb-5">
    <div class="posts-section mt-4">
        <h3 class="text-secondary">Posts</h3>
        {% if page_obj.object_list %}
            {% for post in page_obj.object_list %}
                <div id="new-post" class="post bg-white p-3 mb-3 rounded shadow-sm">
                    <h5 class="text-dark"><a href='{% url 'profile' username=post.user %}'>{{ post.user }}</a></h5>
                    <p class="mb-2">{{ post.content }}</p>
                    <small class="text-muted">Created at {{ post.timestap|date:"F j, Y, g:i a" }}</small>
                    <div class="mt-2">
                        <button class="i-btn">
                            <i class="fa-regular fa-heart"></i>
                        </button>
                        <span>0 Likes</span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-muted">No posts are available.</p>
        {% endif %}
    </div>
    <div class="pagination mt-4">
        <div class="d-flex justify-content-between">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mr-3" href="?page=1">First</a>
                <a class="btn btn-outline-primary mr-3" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% else %}
                <span class="btn btn-outline-secondary disabled mr-3">First</span>
                <span class="btn btn-outline-secondary disabled mr-3">Previous</span>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mr-3" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
                <span class="btn btn-outline-secondary disabled mr-3">Next</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}